<?xml version="1.0"?>
<robot name="omni_robot" xmlns:xacro="https://ros.org/wiki/xacro">
	<xacro:arg name="robot_name" default="omni_robot"/>
	<xacro:include filename="$(find omni_sim)/xacro/wheel_macro.xacro"/>
	<xacro:include filename="$(find omni_sim)/xacro/control_macro.xacro"/>
	<xacro:include filename="$(find omni_sim)/xacro/sensor_macro.xacro"/>

	<link name="base_footprint"/>

	<joint name="base_joint" type="fixed">
		<parent link="base_footprint"/>
		<child link="base_link"/>
	</joint>

	<link name="base_link"/>

	<joint name="body_joint" type="fixed">
		<parent link="base_link"/>
		<child link="body_link"/>
		<origin xyz="0 0 0.15" rpy="0 0 0"/>
	</joint>
	<link name="body_link">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="2.0"/>
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.002"/>
		</inertial>
		<visual>
			<geometry>
				<box size="0.5 0.5 0.06"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<box size="0.5 0.5 0.06"/>
			</geometry>
		</collision>
	</link>

	<xacro:imu_macro prefix="imu" parent="body_link" xyz="0 0 0" rpy="0 0 0"/>
	<xacro:lidar_macro prefix="laser" parent="body_link" xyz="0 0.2 -0.04" rpy="0 0 0"/>

	<xacro:wheel_macro prefix="fr_wheel" parent="body_link" xyz="0.2 0.2 -0.06"/>
	<xacro:wheel_macro prefix="fl_wheel" parent="body_link" xyz="-0.2 0.2 -0.06"/>
	<xacro:wheel_macro prefix="bl_wheel" parent="body_link" xyz="-0.2 -0.2 -0.06"/>
	<xacro:wheel_macro prefix="br_wheel" parent="body_link" xyz="0.2 -0.2 -0.06"/>

	<ros2_control name="GazeboSystem" type="system">
		<hardware>
			<plugin>gazebo_ros2_control/GazeboSystem</plugin>
		</hardware>
		<xacro:wheel_control_macro prefix="fr_wheel"/>
		<xacro:wheel_control_macro prefix="fl_wheel"/>
		<xacro:wheel_control_macro prefix="bl_wheel"/>
		<xacro:wheel_control_macro prefix="br_wheel"/>

		<xacro:imu_control_macro prefix="imu"/>
	</ros2_control>

	<gazebo>
		<plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
			<parameters>$(find omni_sim)/config/omni_sim.yaml</parameters>
		</plugin>
		<plugin filename="libgazebo_ros_p3d.so" name="p3d_base_controller">
			<ros>
				<remapping>odom:=odom</remapping>
			</ros>
			<frame_name>world</frame_name>
			<body_name>base_footprint</body_name>
			<update_rate>10.0</update_rate>
			<always_on>true</always_on>
		</plugin>
	</gazebo>
</robot>