controller_manager:
  ros__parameters:
    update_rate: 100

    omni_controllers:
      type: omni_controllers/OmniController
    
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    imu_sensor_broadcaster:
      type: imu_sensor_broadcaster/IMUSensorBroadcaster

omni_controllers:
  ros__parameters:
    rotate_name:
      - fr_wheel_rotate_joint
      - fl_wheel_rotate_joint
      - bl_wheel_rotate_joint
      - br_wheel_rotate_joint

    wheel_name:
      - fr_wheel_wheel_joint
      - fl_wheel_wheel_joint
      - bl_wheel_wheel_joint
      - br_wheel_wheel_joint

    wheel_d: 0.2828

imu_sensor_broadcaster:
  ros__parameters:
    sensor_name: imu_sensor
    frame_id: imu_link
